html {
    font-family: 'Roboto', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.top-container {
    background-color: #1f2937;
    padding-top: 16px;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.logo {
    font-size: 20px;
    color: #f9faf8;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

ul {
    display: flex;
    gap: 16px;
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero-second {
    font-size: 18px;
    color: #e5e7eb;
}

.img {
    height: 200px;
    width: 400px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.placeholder {
    color: white;
}

.hero-button {
    background-color: #3882f6;
    color: white;
    border: none;
    padding: 6px 25px;
    border-radius: .5em;
}

.hero {
    display: flex;
    align-items: center;
    gap: 25px;
}

.hero-left {
    flex: 1;
}

.info {
    height: 500px;
}

.heading-two {
    padding: 35px 0;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.info-img {
    width: 150px;
    height: 150px;
    border: 3px solid #3882f6;
    border-radius: 1rem;
    flex-shrink: 0
}

.img-cap {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

figcaption {
    max-width: 150px;
    padding-top: 8px;
    text-align: center;
}






.quote {
    background-color: #e5e7eb;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote-container {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.statement {
    font-size: 36px;
    color: #1f2937;
    font-weight: 100;
    font-style: italic;
    line-height: 40px;
    margin: 0;
}

.attribution {
    font-weight: 900;
    font-size: 24px;
    align-self: flex-end;
}